<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decrypt PDF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
</head>
<body>
    <div class="container">
        <h1>Decrypt PDF</h1>
        <form action="{{ url_for('decrypt') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="pdf" class="form-control" accept=".pdf" required>
            <input type="password" name="password" class="form-control" placeholder="Enter password" required>
            <button type="submit">Decrypt PDF</button>
        </form>
        <a href="{{ url_for('index') }}" class="back-link">⬅ Back to Home</a>
    </div>

</body>
</html>
