<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rearrange PDF Pages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
</head>
<body>
    <div class="container">
    <h1>Rearrange PDF Pages</h1>
    <form action="{{ url_for('rearrange') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="pdf" accept=".pdf" required>
        <input type="text" name="page_order" required placeholder="Enter page order (e.g., 3,1,2)">
        <button type="submit">Rearrange Pages</button>
    </form>
    <a href="{{ url_for('index') }}" class="back-link">⬅ Back to Home</a>
</div>
</body>
</html>

